<ul>
  <li style="margin-bottom: 10px;">
    <input type="checkbox" placeholder="Tümünü Seç" (change)="selectedItemAll($event.target)" />

    <label for="">Tümünü Seç</label>
  </li>

  <li *ngFor="let item of this.checkBox;" style="margin-bottom: 10px;">
    <input type="checkbox" placeholder="Seçim" [checked]="item.selected" [value]="item.value" id="item"
      (change)="selectedItem($event.target)" />

    <label for="">{{item.value}}</label>
  </li>
</ul>
<hr>

<ul>
  <li *ngFor="let item2 of this.getselectedItem()" style="margin-bottom: 10px;">
    <label for="">{{item2.value}}</label>
  </li>
</ul>

<!-- 
  <div>
    <label for="">Alfabeyi Kullan</label>
    <input type="checkbox" placeholder="Alfabeyi Kullan" [disabled]="alfabeIsActive" [value]="alfabe"
      [(ngModel)]="alfabeSelected" (change)="alfabeSec()" />
  </div> -->